#event-card{
    width: 700px;
}

#event-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#event-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#card-organization {
    opacity: 0.5;
}


#card-title {
    font-size: 20px;
}

#card-description {
    margin-bottom: 10px;
}


#card-footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

#card-location {
    margin-right: 30px;
}

#event-info-body {
}

#event-attend {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    gap: 5px;

}

#card-rsvpCount {
    display: flex;
    align-items: center;
}

#event-join-btn {
    width: 100px;
}

